/* We define some colors */

:root {
    --primary-color: #ffffff09;
    --secondary-color: #88c3fa46;
    --text-color: #ffffff;
    --background-color1: #293f58;
    --background-color2: #492958;
    --background-color1: rgb(41, 41, 41);
    --background-color2: rgb(41, 41, 41);
}


body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(45deg, var(--background-color1) 0%, var(--background-color2) 100%);
    color: var(--text-color);
}

h1 {
    text-align: center;
}

.container {
    /* put it at the bottom */
    display: flex;
    justify-content: center;

    flex-direction: column;
    /* justify-content: space-between;*/
    height: 100vh;

}

.header {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--text-color);
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 0px;
}

.cols {
    display: flex;
    height: 100%;
}

.cols>div {
    flex: 1;
}

#latex-input {
    width: 50%;
    height: 90%;
    font-size: 16px;
    border: 0px;
    color: var(--text-color);
    background-color: var(--primary-color);
    outline: none;
    padding: 5px;
    border-radius: 5px;
    resize: horizontal;
    margin: 10px;
}

#latex-preview {
    width: 50%;
    height: 90%;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}

.header-button {
    font-weight: bold;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    background-color: #ffffff00;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    backdrop-filter: blur(10px);

}

.header-button:hover {
    background-color: var(--secondary-color);
}

/* .header-button {
    flex-grow: 1;
} */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    min-width: 100px;
}

.dropdown-content a {
    color: white;
    background-color: var(--primary-color);
    text-decoration: none;
    background-color: none;
    padding: 10px 20px;
    margin-top: 5px;
    display: block;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    background-color: var(--secondary-color);

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

hr {
    width: calc(100% - 20px);
}