/* We define some colors */

:root {
    --primary-color: #00000046;
    --secondary-color: #88c3fa46;
    --text-color: #ffffff;
    --background-color1: #293f58;
    --background-color2: #492958;
}


body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(45deg, var(--background-color1) 0%, var(--background-color2) 100%);
    color: var(--text-color);
}

h1 {
    text-align: center;
}

.container {
    /* put it at the bottom */
    display: flex;
    justify-content: center;

    flex-direction: column;
    /* justify-content: space-between;*/
    height: 100vh;

}

.header {
    height: 10%;
    
    display: flex;
    justify-content: center;

    align-items: center;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    margin: 10px;
}

.cols {
    display: flex;
    height: 100%;
}
.cols > div {
    flex: 1;
}
#latex-input {
    width: 50%;
    height: 90%;
    font-size: 16px;
    border: 0px;
    color: var(--text-color);
    background-color: var(--primary-color);
    outline: none;
    padding: 5px;
    border-radius: 5px;
    resize: horizontal;
    margin: 10px;
}

#latex-preview {
    width: 50%;
    height: 90%;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}
