/* We define some colors */

:root {
    --primary-color: #00000046;
    --secondary-color: #88c3fa46;
    --text-color: #ffffff;
    --background-color1: #293f58;
    --background-color2: #492958;
}


body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    /* Make background a nice gradient */
    background: linear-gradient(45deg, var(--background-color1) 0%, var(--background-color2) 100%);
    color: var(--text-color);
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 90vh;
}

.container > div {
    flex: 1;
}

#latex-input {
    width: 50%;
    height: 100%;
    font-size: 16px;
    border: 0px;
    color: var(--text-color);
    background-color: var(--primary-color);
    outline: none;
    padding: 5px;
    border-radius: 5px;
    resize: horizontal;
}

#latex-preview {
    width: 50%;
    height: 100%;
    font-size: 16px;
    border: 0px;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;

}
